/* #region  Variaveis*/
:root {
    --primaryV1-color: #090C08;
    --primaryV2-color: #2E352C;
    --primaryV3-color: #50544E;
    --secondaryV1-color: #C4151C;
    --secondaryV2-color: #CA4045;
    --secondaryV3-color: #D6696D;
    --tertiaryV1-color: #E2C044;
    --tertiaryV2-color: #EECE5A;
    --tertiaryV3-color: #F9DB71;
    --whiteV1-color: #FFFFFF;
    --whiteV2-color: #E2E2E2;
    --whiteV3-color: #BFBFBF;
    --font-size-h1: 32px;
    --font-size-h2: 26px;
    --font-size-p: 16px;
    --font-family: Arial, Helvetica, sans-serif;
  }
/* #endregion */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    background-color: var(--whiteV1-color);
  }

.container{
    background-color: var(--whiteV2-color);
    font-size: var(--font-size-base);
    display: flex;
    flex-direction: column;
}

.container h1{
    font-size: var(--font-size-h1);
}

.container h2{
    font-size: var(--font-size-h2);
}

.container p{
    font-size: var(--font-size-p);
}