body{
    min-height: 100vh;
    background: white;
    font-family: sans-serif;
    display: grid;
    place-items: center;
    overflow: hidden;
}

h2{
    font-size: 2.0rem;
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
}

form p{
    color: rgb(255, 255, 255);
    font-size: 1.4rem;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 28rem;
    background-color: #C4151C;
    padding: 4rem;
    border-radius: 0.6rem;
    border:5px solid white;
    box-shadow: 7px 9px 1px #000;

}

label{
    width: 100%;
    align-self: flex-start;
    transition: 0.15s linear;
}

label p{
    font-weight: 700;
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    font-size: 1.4rem;
    text-align: left;
}

label:focus-within{
    color: white;
}

input{
    font-size: 1.4rem;
    color: black;
    padding: 1rem 0 0.5rem 1rem;
    box-sizing: border-box;
    width: 100%;
    border: none;
    border-color: #777;
    border-bottom-width: 1px;
    border-bottom-style: dotted;
    margin-bottom: 3rem;
    transition: 0.15 linear;
    border-radius: 0.6rem;
}

input:focus{
    outline: none;
    border-color: #C4151C;
}



button{
    font-size: 1.2rem;
    line-height: 2rem;
    font-weight: 700;
    text-transform: uppercase;
    width: 100%;
    padding: 1rem 2rem;
    cursor: pointer;
    background: transparent;
    color: white;
    border: 3px solid currentColor;
    border-radius: 0.6rem;
    margin-top: 0.5rem;
    transition: 0.25s;
}

button:hover,
button:focus{
    outline: none;
    background: white;
    color: #C4151C;
}

a{
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 600;
    transition: 0.3s;
    
}

a:hover,
a:focus{
    outline: none;
    color: #000;
}

a:first-of-type{
    margin-top: 1rem;
}

a + a{
    margin-top: 1.125rem;
}


.google-login {
    display: flex;
    align-items: center;
    gap: 8px; /* espaço entre a imagem e o texto */
    margin-top: 10px;
}

.google-login img {
    width: 20px; /* ou ajuste conforme o tamanho ideal */
    height: 20px;
    display: block;
}

.teste{
    margin-bottom: 14px;
}