/* #region  Variaveis*/
:root {
    --primaryV1-color: #090C08;
    --primaryV2-color: #2E352C;
    --primaryV3-color: #50544E;
    --secondaryV1-color: #C4151C;
    --secondaryV2-color: #CA4045;
    --secondaryV3-color: #D6696D;
    --tertiaryV1-color: #E2C044;
    --tertiaryV2-color: #EECE5A;
    --tertiaryV3-color: #F9DB71;
    --whiteV1-color: #FFFFFF;
    --whiteV2-color: #E2E2E2;
    --whiteV3-color: #BFBFBF;
    --font-family: Quicksand;
  }
/* #endregion */

/* #region TopPag*/
.container-top{
  display: flex;
}

.box-left-container-top{
  position: relative;
  padding-top: 50px;
}

.container-top h1{
  font-size: 2.2em;
  margin-bottom: 20px;
  }

  .container-top p{
    font-size: 1.4em;
    }

.position-elite-button-main{
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 140px;
  height: auto;
  }

/* #endregion */

/* #region CenterPag */
.container-center{
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  }
  
  .container-center img{
  width: 18vw;
  height: auto;
  }
  
  .imgs-bottom{
  display: flex;
  gap: 40px;
  }

  .imgs-top {
    display: grid;
    grid-template-columns: repeat(3, 1fr); 
    gap: 40px;
    margin-top: 60px;
  }
  .imgs-top img{
    height: 200px;
  }
  
/* #endregion */

/* #region BottomPag*/
.container-bottom{
  display: flex;
  padding-left: 15vw;
  }
  
.box-bottom-left{
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-right: 20px;
  }
  
  .box-bottom-left h1{
  font-size: 2em;
  padding-top: 20px;
  }
  
  .box-bottom-left p{
  font-size: 1.4em;
  }
  
  .topicos-text{
  display: flex;
  flex-direction: column;
  gap: 5px;
  }
/* #endregion */
