/* #region  Variaveis*/
:root {
    --primaryV1-color: #090C08;
    --primaryV2-color: #2E352C;
    --primaryV3-color: #50544E;
    --secondaryV1-color: #C4151C;
    --secondaryV2-color: #CA4045;
    --secondaryV3-color: #D6696D;
    --tertiaryV1-color: #E2C044;
    --tertiaryV2-color: #EECE5A;
    --tertiaryV3-color: #F9DB71;
    --whiteV1-color: #FFFFFF;
    --whiteV2-color: #E2E2E2;
    --whiteV3-color: #BFBFBF;
    --font-size-h1: 32px;
    --font-size-h2: 26px;
    --font-size-p: 16px;
    --font-family: Arial, Helvetica, sans-serif;
    }
/* #endregion */

/* #region ConfPag*/
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

.content-center{
padding-left: 15vw;
padding-right: 15vw;
}

/* #endregion */
  
/* #region Sidebar*/
.sidebar {
width: 100%;
top: 0;
left: 0;
z-index: 100;
background-color: #090C08;
color: var(--whiteV1-color);
}

.sidebar ul {
display: flex;
justify-content: center;
align-items: center;
list-style: none;
gap: 20px;
}

.sidebar li{
width: 200px;
text-align: center;
}

.sidebar img{
width: 30%;
height: auto;
}

.elite-button{
background-color: var(--secondaryV1-color);
color: var(--whiteV1-color);
border-radius: 4px;
padding: 8px;
border: 10px;
}

.decoration-text{
    text-decoration: none;
    color: var(--whiteV1-color);
  }
/* #endregion */
  
/* #region Footer*/
  footer {
    display: flex;
    align-items: center;
    background-color: var(--primaryV1-color);
    width: 100%;
    color: var(--whiteV1-color);
    justify-content: center;
    gap: 150px;
  }
  
  .footer-align{
    display: flex;
    flex-direction: column;
    font-size: 10em;
    gap: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  
  .footer-icon{
    display: flex;
    gap: 50px;
  }
  
  .linha{
    color: var(--primaryV1-color);
    background-color: var(--whiteV1-color);
    width: 1px;
    height: 40px;
    gap: none;
  }
  
  .footer-text{
    font-size: 0.07em
  }
/* #endregion */

/* #region TopPag*/
.container-top{
    display: flex;
}

.container-top img{
    width: 500px;
    height: auto;
}

.container-top-left h2{
    padding-top: 60px;
    margin-bottom: 60px;
    font-size: 2em;
}

.container-top-left p{
    font-size: 1.3em;
}

/* #endregion */

/* #region CenterPagRed*/
.container-center-red{
    margin-right: 20px;
}

.box-red{
    background-color: var(--secondaryV1-color);
    padding: 40px 60px 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: var(--whiteV1-color);
}

.box-red h3{
    font-size: 1.6em;
}

.box-red p{
    font-size: 1.3em;
}

.box-red span{
    text-decoration:dashed;
}
    
/* #endregion */

/* #region CenterPagBlack*/
.container-center-black{
    margin-right: 20px;
}

.box-black{
    background-color: var(--primaryV1-color);
    color: var(--whiteV1-color);
    padding: 40px 60px 30px 60px;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.box-black h3{
    font-size: 1.6em;
}

.box-black p{
    font-size: 1.3em;
}

.box-black span{
    text-decoration:dashed;
}
/* #endregion */
  
/* #region BottomPag*/
.container-bottom{
    display: flex;
}

.container-bottom-left{
    padding-left: 230px;
}

.container-bottom-left h2{
    font-size: 1.6em;
    padding-top: 30px;
}

.container-bottom-left p{
    font-size: 1.3em;
    padding-top: 80px;
}


.container-bottom-right img{
    width: 700px;
    height: auto;
}

/* #endregion */
  