<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Auto Elite</title>
    <link rel="stylesheet" href="/style/about.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <script src="/script/index.css" defer></script>
</head>
<body>
    <header>
        <div class="sidebar content-center">
            <ul>
                <li><a href="/view/home.html"><img src="/img/usageInformationImg/icon/logo.png" alt="logo"></a></li>
                <li><a class="decoration-text" href="/view/about.html">Sobre a Auto Elite</a></li>
                <li><a class="decoration-text" href="/view/contact.html">Contato</a></li>
                <li><a class="decoration-text" href="/view/usageInformation.html">Como funcionamos</a></li>
            </ul>
        </div>
    </header>
    <section class="container-top content-center">
        <h2>Sobre a Auto Elite</h2>
        <div class="container-top-left-and-right">
            <div class="container-top-left">
                <p>A Auto Elite nasceu do sonho de um grupo de amigos apaixonados pelo mundo automotivo. O projeto começou de forma simples, como uma ideia entre conversas, buscando uma maneira de conectar clientes e lojas de forma mais prática e eficiente.</p>
                <p>Com o tempo, percebemos que muitas pessoas tinham dificuldades para encontrar serviços automotivos de qualidade perto de casa. Ao mesmo tempo, pequenas e médias lojas precisavam de mais visibilidade para alcançar novos clientes. Foi assim que surgiu a Auto Elite: uma plataforma que facilita essa conexão, oferecendo um ambiente confiável e inovador.</p>
            </div>
            <div class="container-top-right">
                <img src="/img/aboutImg/about01.png" alt="">
            </div>
        </div>
    </section>

    <section class="container-center content-center">
        <p>Nosso objetivo é transformar a forma como você cuida do seu carro, tornando a busca por serviços mais ágil e transparente. Aqui, você pode encontrar desde oficinas mecânicas e autopeças até serviços de estética automotiva, sempre com avaliações reais e a opção de escolher lojas premium que garantem qualidade e atendimento diferenciado.</p>
        <p>A Auto Elite continua crescendo, mas sem perder sua essência: ser a ponte entre quem busca e quem oferece os melhores serviços automotivos. 🚗💨</p>
        
        <img src="/img/aboutImg/about02.png" alt="">
    </section>

    <hr style="margin-top: 50px; height: 10px;">

    <section class="container-bottom">
        <div class="container-bottom-left">
            <h2>Nosso Comprometimento Elite!</h2>
            <div class="text-container-bottom">
                <p>Na Auto Elite, nosso compromisso é conectar você aos melhores serviços automotivos com transparência, qualidade e praticidade. Trabalhamos para garantir que cada cliente encontre exatamente o que precisa, de forma rápida e segura.</p>
                <p>Nos dedicamos a oferecer uma experiência confiável, onde lojas e profissionais qualificados possam crescer e atender cada vez melhor. Acreditamos que um bom serviço faz a diferença, e por isso estamos sempre aprimorando nossa plataforma para entregar as melhores soluções para você e seu carro.</p>
                <p>Auto Elite – conectando você ao melhor do mundo automotivo.</p>
            </div>
        </div>
        <div class="container-bottom-right">
            <img src="/img/aboutImg/about03.png" alt="" style="width: 550px;">
        </div>
    </section>
    <footer>
        <div class="footer-align">
            <p class="footer-text">Política de Cookies</p>
            <p class="footer-text">Política de Privacidade</p>
            <p class="footer-text">Termo de Uso</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-align">
            <p class="footer-text">CNPJ</p>
            <p class="footer-text">E-mail</p>
            <p class="footer-text">telefone</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-icon">
            <img src="/img/homeImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
        </div>
    </footer>
</body>
</html>