<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/cadastroLoja.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <title>Document</title>
    <script src="/script/login/cadastroLoja.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>

</head>
<body>
    <form href="cadastroEndereco.html">
        <h2>Cadastro Loja Elite</h2>
        <label> <p>CNPJ:</p> <input type="number" id="cnpj" placeholder="CNPJ: (APENAS NÚMEROS!)"></input> </label>

        <label> <p>Nome Fantasia:</p> <input type="text" id="Nome"/></label>

        <label> <p>Razão Social:</p> <input type="text" id="razao"/></label>

        <label> <p>Telefone:</p> <input type="text" id="Telefone"/></label>

        <label> <p>Celular:</p> <input type="text" id="Celular"/></label>

        <label> <p>Abertura:</p> <input type="date" id="Abertura" placeholder="dd/mm/aaaa"/></label>

        <input type="submit" value="Enviar">

    </form>
</body>
</html>