<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/cadastroLoja.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <title>Document</title>
</head>
<body>
    <form>
        <h2>Cadastro Loja Elite</h2>
        <label> <p>CNPJ:</p> <input type="number" id="email" placeholder="CNPJ: (APENAS NÚMEROS!)"></input> </label>

        <label> <p>Nome Fantasia:</p> <input type="text" id="Nome"/></label>

        <label> <p>Razão Social:</p> <input type="number" id="Telefone"/></label>

        <label> <p>Telefone:</p> <input type="text" id="Telefone"/></label>

        <label> <p>Celular:</p> <input type="text" id="Celular"/></label>

        <label> <p>Abertura:</p> <input type="text" id="Abertura" placeholder="dd/mm/aaaa"/></label>

        <button>Enviar</button>

    </form>
</body>
</html>