<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/cadastro.css">
    <title>Cadastra-se</title>
</head>
<body>
    <form>
        <h2>Cadastro Elite</h2>
        <label> <p>E-mail:</p> <input type="text" id="email"/></label>

        <label> <p>Senha:</p> <input type="password" id="password"/></label>

        <label> <p>Confirmação de Senha:</p> <input type="password" id="confirm_password" class="p3"/></label>


        <button>Cadastrar</button>

    </form>
</body>
</html>