<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/cadastroEndereco.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <title>Cadastro Endereço</title>
</head>
<body>
    <form>
        <h2>Cadastro de Endereço</h2>
        <label> <p>CEP:</p> <input type="number" id="email" placeholder="CEP: (APENAS NÚMEROS!)"></input> </label>

        <label> <p>Rua:</p> <input type="text" id="Rua"/></label>

        <label> <p>Número:</p> <input type="number" id="Numero"/></label>

        <label> <p>Complemento:</p> <input type="text" id="Complemento"/></label>

        <label> <p>Bairro:</p> <input type="text" id="Bairro"/></label>

        <label> <p>Cidade:</p> <input type="text" id="Cidade"/></label>

        <label> <p>UF:</p> <input type="text" id="UF"/></label>

        <button>Enviar</button>

    </form>
</body>
</html>