<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Auto Elite</title>
    <link rel="stylesheet" href="/style/contact.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <script src="/script/index.css" defer></script>
</head>
<body>
    <header>
        <div class="sidebar content-center">
            <ul>
                <li><a href="/view/home.html"><img src="/img/usageInformationImg/icon/logo.png" alt="logo"></a></li>
                <li><a class="decoration-text" href="/view/about.html">Sobre a Auto Elite</a></li>
                <li><a class="decoration-text" href="/view/contact.html">Contato</a></li>
                <li><a class="decoration-text" href="/view/usageInformation.html">Como funcionamos</a></li>
            </ul>
        </div>
    </header>

    <hr style="margin-top: 70px; height: 10px;">

    <section class="container-top content-center">
        <div class="container-top-left">
            <h2>Contato</h2>
            <h3>Fale diretamente com a gente!</h3>
            <p>Oferecemos um canal de comunicação ondevocê pode enviar perguntas, sugestões,reclamações, elogios, ou falar de parcerias.</p>
        </div>
        <div container-top-right>
            <img src="/img/contactImg/contact01.png" alt="">
        </div>
    </section>

    <section class="container-bottom content-center">
        <div class="box-client">
            <h4>CANAL DO CLIENTE</h4>
            <p>São Paulo: (11) 4022 8922</p>
            <p>Outras cidades: 0800 666 6262</p>
        </div>
        <div class="box-broker">
            <h4>CANAL DO CORRETOR</h4>
            <p>0800 333 9292</p>
        </div>
        <div class="box-sac">
            <h4>SAC</h4>
            <p>0800 363 2134</p>
        </div>
    </section>
    <footer>
        <div class="footer-align">
            <p class="footer-text">Política de Cookies</p>
            <p class="footer-text">Política de Privacidade</p>
            <p class="footer-text">Termo de Uso</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-align">
            <p class="footer-text">CNPJ: 85.761.052/0001-33</p>
            <p class="footer-text">E-mail: AutoElite@auto.com.br</p>
            <p class="footer-text">Telefone: 4002-8922</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-icon">
            <img src="/img/homeImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
        </div>
    </footer>
</body>
</html>