<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/esqueceuSenha.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <title>Document</title>
</head>
<body>
    <form>
        <h2>Recuperar senha</h2>

        <p>Insira seu e-mail para receber o token para a recuperação de senha</p>

        <label> <p>E-mail:</p> <input type="text" id="email"/></label>

        
        <button>Entrar</button>
    </form>
</body>
</html>