<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/style/home.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/script/index.js"></script>
    <script src="/script/Menu Principal/carregarDados.js"></script>
</head>
<body>
    <header>
        <div class="sidebar content-center">
            <ul>
                <li><a href="/view/home.html"><img src="/img/usageInformationImg/icon/logo.png" alt="logo"></a></li>
                <li><a class="decoration-text" href="/view/about.html">Sobre a Auto Elite</a></li>
                <li><a class="decoration-text" href="/view/contact.html">Contato</a></li>
                <li><a class="decoration-text" href="/view/usageInformation.html">Como funcionamos</a></li>
                <li><a class="decoration-text-token" href="/view/productViewStore.html">Produtos</a></li>
                <li><a class="decoration-text-token" href="/view/infoClient.html">Meu Perfil</a></li>
                <li><a href="/view/login.html" class="elite-button" id="elite-button">SEJA ELITE</a></li>
                <li><form id="encerrarSessao"><input class="encerrarSessaoButton" type="submit" value="Sair"></form></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="container-top content-center" >
            <div class="box-left-container-top">
                <div class="content-box-left-container-top">
                    <h1>A plataforma que te conecta aos melhores serviços automotivos da sua região</h1>
                    <p>Sendo Auto Elite você como cliente em busca de produtos ou serviços específicos, ou uma loja que deseja expandir sua presença online, estamos aqui para facilitar essa conexão.</p>
                </div>

                <a href="/view/login.html" class="elite-button position-elite-button-main" id="elite-button2">SEJA ELITE</a>
            </div>
            <div class="content-box-right-container-top">
                <img class="imageHome01" src="/img/homeImg/Home01.png" style="width: 550px; height: auto;">
            </div>
        </section>
        <section class="container-top content-center" >
            <div class="box-input-product">
                <form action="/view/home.html" method="GET" class="search-form">
                    <input type="text" placeholder="Pesquisar..." id="pesquisa" name="pesquisa" class="search-input">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
        </section>

        <section class="container-center content-center">
            <div class="imgs-top" id="imgs-top">
              
            </div>
        </section>

        <hr style="margin-top: 40px; height: 10px;">

        <section class="container-bottom">
            <div class="box-bottom-left">
                <h1>Serviços automotivos na palma da sua mão!</h1>
                <p>Conectamos você à loja ideal sem complicação. Com poucos toques no celular, encontre os melhores serviços e produtos automotivos perto de você. E para as lojas, essa é a chance de se destacar e alcançar mais clientes.</p>
                <div class="topicos-text">
                    <p> • Tudo rápido, fácil e direto pelo seu celular.</p>
                    <p> • Encontre, compare e escolha o melhor serviço para você.</p>
                    <p> • <span style="color: #EECE5A; font-weight: bold">Lojas premium </span>sempre em destaque para mais visibilidade.</p>
                </div>
                <p>Seu carro precisa, você encontra. Sua loja oferece, seu cliente acha. Simples assim!</p>
            </div>
            <div class="box-bottom-right">
                <img src="/img/homeImg/Home02.png" style="width: 500px; height: auto;">
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-align">
            <p class="footer-text">Política de Cookies</p>
            <p class="footer-text">Política de Privacidade</p>
            <p class="footer-text">Termo de Uso</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-align">
            <p class="footer-text">CNPJ: 85.761.052/0001-33</p>
            <p class="footer-text">E-mail: AutoElite@auto.com.br</p>
            <p class="footer-text">Telefone: 4002-8922</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-icon">
            <img src="/img/homeImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
        </div>
    </footer>
</body>
</html>