<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Auto Elite</title>
    <link rel="stylesheet" href="/style/infoClient.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <script src="/script/index.css" defer></script>
</head>
<body>
    <header>
        <div class="sidebar content-center">
            <ul>
                <li><a href="/view/home.html"><img src="/img/usageInformationImg/icon/logo.png" alt="logo"></a></li>
                <li><a class="decoration-text" href="/view/about.html">Sobre a Auto Elite</a></li>
                <li><a class="decoration-text" href="/view/contact.html">Contato</a></li>
                <li><a class="decoration-text" href="/view/usageInformation.html">Como funcionamos</a></li>
            </ul>
        </div>
    </header>
    <section class="content-center">
        <h3>No menu, você edita suas principais informações</h3>
        <div class="cards">
            <div class="card">
                <h4>Informações cadastrais:</h4>
                <div class="box-text" style="gap: 40px;">
                    <p>CPF: <span>424.323.542-44</span></p>
                    <p>Nome Completo: <span>Gustavo Souza Melo</span></p>
                    <p>Telefone: <span>(11) 98345-2345</span></p>
                    <p>Data De Nascimento: <span>23/03/1998</span></p>
                    <p>Gênero: <span>Masculino</span></p>
                </div>
                <div class="box-button">
                    <button>Editar</button> 
                </div>
            </div>
            <div class="card">
                <h4>Informações de Endereço:</h4>
                <div class="box-text">
                    <p>CEP: <span>06786-120</span></p>
                    <p>RUA: <span>Rua Sebastião Francisco dos Santos</span></p>
                    <p>Número: <span>55</span></p>
                    <p>Complemento: <span>Casa 1</span></p>
                    <p>Bairro: <span>São Judas</span></p>
                    <p>Cidade: <span>Taboão da Serra</span></p>
                    <p>UF: <span>SP</span></p>
                </div>
                <div class="box-button">
                    <button>Editar</button> 
                </div>
            </div>
        </div>
    </section>
    <footer style="position: absolute; bottom: 0;">
        <div class="footer-align">
            <p class="footer-text">Política de Cookies</p>
            <p class="footer-text">Política de Privacidade</p>
            <p class="footer-text">Termo de Uso</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-align">
            <p class="footer-text">CNPJ: 85.761.052/0001-33</p>
            <p class="footer-text">E-mail: AutoElite@auto.com.br</p>
            <p class="footer-text">Telefone: 4002-8922</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-icon">
            <img src="/img/homeImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
        </div>
    </footer>
</body>
</html>