<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="/script/login/login.js"></script>
    <link rel="stylesheet" href="/style/login.css" title="text/css">
    <title>Login</title>
</head>
<body>
    <main>
        <section id="formulario">
            <form action="/view/home.html">
                <h1>Login Elite</h1>
                <label class="email-label" for="email">
                    <p>Email:</p>
                    <input type="email" id="email" name="email">
                </label>
                <label class="password-label" for="password">
                    <p>Senha:</p>
                    <div class="password-input-wrapper">
                        <input type="password" id="password" name="password">
                        <span id="togglePassword">👁️</span>
                    </div>
                </label>
                <div class="entrar-box">
                    <button class="entrar-button" type="submit" value="Entrar">Entrar</button>
                </div>
                
            </form>
            <div class="box-extra">
                <p><a href="#">Esqueci a senha</a></p>
                <p></p><a href="cadastro.html">Não tem login? Cadastre-se!</a></p>
            </div>
        </section>
    </main>
</body>
</html>