<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/style/productViewClient.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/script/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="/script/Vizualizar Produto/produtoAuth.js" type="module"></script>
    

</head>
<body>
    <header>
        <div class="sidebar content-center">
            <ul>
                <li><a href="/view/home.html"><img src="/img/productNotRegisterImg/icon/logo.png" alt="logo"></a></li>
                <li><a class="decoration-text" href="/view/about.html">Sobre a Auto Elite</a></li>
                <li><a class="decoration-text" href="/view/contact.html">Contato</a></li>
                <li><a class="decoration-text" href="/view/usageInformation.html">Como funcionamos</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="container-top content-center">
            <div class="box-input-product">
                <form action="/view/home.html" method="GET" class="search-form">
                    <input type="text" placeholder="Pesquisar..." id="pesquisa" name="pesquisa" class="search-input">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <h3 class="product-name" id="title-product-main">Volante Mercedes Mb 430mm Pequeno 608 710 1620 1935</h3>
            <div class="product-select">
                <div class="box-imgs" id="box-imgs">
                    
                </div>
                
                <div class="assessment-product">
                    <p>Avalie esse produto:</p>
                    <img src="/img/productViewClientImg/StarYellow.png" alt="Star"> 
                    <img src="/img/productViewClientImg/StarYellow.png" alt="Star">   
                    <img src="/img/productViewClientImg/StarYellow.png" alt="Star">   
                    <img src="/img/productViewClientImg/StarYellow.png" alt="Star">   
                    <img src="/img/productViewClientImg/StarYellow.png" alt="Star">   
                    <span>(34)</span>                     
                </div>
                <div class="box-product-learnMore">
                    <span>Este produto está a <span id="distancia"></span> de você!</span>
                </div>
                <div class="information-store">
                    <div class="assessment-store">
                        <p>Avalie esse produto:</p>
                        <img src="/img/productViewClientImg/StarYellow.png" alt="Star"> 
                        <img src="/img/productViewClientImg/StarYellow.png" alt="Star">   
                        <img src="/img/productViewClientImg/StarYellow.png" alt="Star">   
                        <img src="/img/productViewClientImg/StarYellow.png" alt="Star">   
                        <img src="/img/productViewClientImg/StarWhite.png" alt="Star">   
                        <span>(34)</span>                      
                    </div>
                    <p>Razão Social: <span id="razao"></span></p>
                    <p>Nome Fantasia: <span id="nome"></span></p>
                    <p>Telefone: <span id="tel"></span></p>
                    <p>Celular: <span id="cel"></span></p>
                </div>
                <div class="address" id="address">
                    <div class="mapBox" style="width:400px; height:300px;">
                        <iframe 
                            src="" 
                            style="border:0; width:400px; height:300px;"
                            allowfullscreen="" 
                            loading="lazy" 
                            referrerpolicy="no-referrer-when-downgrade"
                            id="mapa">
                        </iframe>
                    </div>
                    <div class="assessment-address">
                        <h3>Informações do endereço:</h3>
                        <p>CEP: <span id="CEP"></span></p>
                        <p>Rua: <span id="rua"></span></p>
                        <p>Número: <span id="nmr"></span></p>
                        <p>Complemento: <span id="complemento"></span></p>
                        <p>Bairro: <span id="bairro"></span></p>
                        <p>Cidade: <span id="cidade"></span></p>
                        <p>Estado: <span id="uf"></span></p>
                    </div>

                </div>
                <a 
                id="encaminhar"
                href="" 
                target="_blank" 
                style="display: inline-block; padding: 10px 20px; background-color: #007bff; color: white; text-decoration: none; border-radius: 5px;">
                Ir 🚗
                </a>
            </div>
        </section>

        <section class="container-bottom content-center" id="container-bottom content-center">
                
        </section>
    </main>
    <footer>
        <div class="footer-align">
            <p class="footer-text">Política de Cookies</p>
            <p class="footer-text">Política de Privacidade</p>
            <p class="footer-text">Termo de Uso</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-align">
            <p class="footer-text">CNPJ</p>
            <p class="footer-text">E-mail</p>
            <p class="footer-text">telefone</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-icon">
            <img src="/img/productNotRegisterImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
            <img src="/img/productNotRegisterImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
            <img src="/img/productNotRegisterImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
        </div>
    </footer>
</body>
</html>