<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Produtos</title>
    <link rel="stylesheet" type="text/css" href="/style/productNotRegister.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/script/index.js"></script>
    <script src="/script/Vizualizar Produto/produto.js"></script>
</head>
<body>
    <header>
        <div class="sidebar content-center">
            <ul>
                <li><a href="/view/home.html"><img src="/img/productNotRegisterImg/icon/logo.png" alt="logo"></a></li>
                <li><a class="decoration-text" href="/view/about.html">Sobre a Auto Elite</a></li>
                <li><a class="decoration-text" href="/view/contact.html">Contato</a></li>
                <li><a class="decoration-text" href="/view/usageInformation.html">Como funcionamos</a></li>
                <li><button class="elite-button">SEJA ELITE</button></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="container-top content-center" >
            <div class="box-input-product">
                <form action="/view/home.html" method="GET" class="search-form">
                    <input type="text" placeholder="Pesquisar..." id="pesquisa" name="pesquisa" class="search-input">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
            </div>
            <p class="title-product-main" id="title-product-main"></p>
            <div class="box-product-main">
                <div class="box-imgs" id="box-imgs">
                    
                </div>
                <p>Descubra onde encontrar este produto na loja mais próxima de você!</p>
                <form action="/view/login.html">
                    <input type="submit" value="Saber mais..." class="box-learnMore">
                </form>
                
            </div>
        </section>

        <section class="container-bottom content-center">
            <p class="title-product-interest">Produtos em que você possa se interessar:</p>
            <div class="boxes-produt-top">
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product02.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product03.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product04.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
            </div>
            <div class="boxes-produt-botton">
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product05.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product06.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
                <div class="box-produt">
                    <p>Pneu 205/55r17</p>
                    <img src="/img/productNotRegisterImg/product07.png" alt="">
                    <div class="box-produt-learnMore">
                        <span>Saber mais...</span>
                    </div>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-align">
            <p class="footer-text">Política de Cookies</p>
            <p class="footer-text">Política de Privacidade</p>
            <p class="footer-text">Termo de Uso</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-align">
            <p class="footer-text">CNPJ</p>
            <p class="footer-text">E-mail</p>
            <p class="footer-text">telefone</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-icon">
            <img src="/img/productNotRegisterImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
            <img src="/img/productNotRegisterImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
            <img src="/img/productNotRegisterImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
        </div>
    </footer>
</body>
</html>