<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/style/productViewStore.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
    <script src="/script/index.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
    <script src="/script/produtos/produtos.js" type="module"></script>
</head>
<body>
    <header>
        <div class="sidebar content-center">
            <ul>
                <li><a href="/view/home.html"><img src="/img/usageInformationImg/icon/logo.png" alt="logo"></a></li>
                <li><a class="decoration-text" href="/view/home.html">Menu</a></li>
                <li><a class="decoration-text" href="#">Produtos</a></li>
                <li><a class="elite-button" href="/view/infoClient.html">Perfil</a></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="container-top content-center" >
            <div class="box-input-product">
                <form action="/view/productViewStore.html" method="GET" class="search-form">
                    <input type="text" placeholder="Pesquisar..." id="pesquisa" name="pesquisa" class="search-input">
                    <button type="submit" class="search-button">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                
            </div>
            <a href="/view/cadastroProduto.html" id="cadastrarProdutos">Cadastrar Produto</a>
            <a href="/view/myProducts.html" id="myProducts">Meus Produtos</a>
        </section>

        <section class="container-bottom content-center">
            <div class="cards-not-linked" id="cards-not-linked">
                
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-align">
            <p class="footer-text">Política de Cookies</p>
            <p class="footer-text">Política de Privacidade</p>
            <p class="footer-text">Termo de Uso</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-align">
            <p class="footer-text">CNPJ</p>
            <p class="footer-text">E-mail</p>
            <p class="footer-text">telefone</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-icon">
            <img src="/img/homeImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
        </div>
    </footer>
</body>
</html>