<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" type="text/css" href="/style/storeOrClient.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <script src="/script/index.js"></script>
    <script src="/script/login/storeOrClient.js" type="module"></script>
    <script src="https://cdn.jsdelivr.net/npm/jwt-decode/build/jwt-decode.min.js"></script>
</head>
<body>
    <header>
        <div class="sidebar content-center">
            <ul>
                <li><a href="/view/home.html"><img src="/img/productNotRegisterImg/icon/logo.png" alt="logo"></a></li>
                <li><a class="decoration-text" href="/view/about.html">Sobre a Auto Elite</a></li>
                <li><a class="decoration-text" href="/view/contact.html">Contato</a></li>
                <li><a class="decoration-text" href="/view/usageInformation.html">Como funcionamos</a></li>
                <li><form id="encerrarSessao"><input class="encerrarSessaoButton" type="submit" value="Sair"></form></li>
            </ul>
        </div>
    </header>
    <main>
        <section class="container-central" >
            <div class="text-top">
                <p>Antes de começarmos, precisamos te conhecer!</p>
                <p>Primeiramente, você quer ser uma loja ou cliente Elite?</p>
            </div>
            <div class="cards">
                <div class="client card">
                    <h3>Um cliente Elite</h3>
                    <p>Pesquise por produtos ou serviços automotivos e descubra as lojas mais próximas que atendem às suas necessidades.</p>
                    <p>Tenha acesso às 10 principais lojas premium que se destacam em nossas buscas, garantindo qualidade e confiança.</p>
                    <a href="cadastroCliente.html">Seja um Cliente ELITE</a>
                </div>
                <div class="store card">
                    <h3>Uma Loja Elite</h3>
                    <p>Ample sua visibilidade online e alcance mais clientes cadastrando sua loja em nossa plataforma.</p>
                    <p>Torne-se uma<strong class="store-premium"> Loja Premium:</strong> Invista em destaque nas buscas e aumente suas oportunidades de negócio tornando-se uma loja premium.</p>
                    <a href="cadastroLoja.html">Seja uma Loja ELITE</a>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <div class="footer-align">
            <p class="footer-text">Política de Cookies</p>
            <p class="footer-text">Política de Privacidade</p>
            <p class="footer-text">Termo de Uso</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-align">
            <p class="footer-text">CNPJ: 85.761.052/0001-33</p>
            <p class="footer-text">E-mail: AutoElite@auto.com.br</p>
            <p class="footer-text">Telefone: 4002-8922</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-icon">
            <img src="/img/homeImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
        </div>
    </footer>
</body>
</html>