<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre Auto Elite</title>
    <link rel="stylesheet" href="/style/usageInformation.css">
    <link rel="stylesheet" type="text/css" href="/style/default.css">
    <script src="/script/index.css" defer></script>
</head>
<body>
    <header>
        <div class="sidebar content-center">
            <ul>
                <li><a href="/view/home.html"><img src="/img/usageInformationImg/icon/logo.png" alt="logo"></a></li>
                <li><a class="decoration-text" href="/view/about.html">Sobre a Auto Elite</a></li>
                <li><a class="decoration-text" href="/view/contact.html">Contato</a></li>
                <li><a class="decoration-text" href="/view/usageInformation.html">Como funcionamos</a></li>
            </ul>
        </div>
    </header>

    <section class="container-top content-center">
        <div class="container-top-left">
            <h2>Como funcionamos</h2>
            <p>A Auto Elite foi criada para simplificar a busca por serviços automotivos, conectando clientes e lojas de maneira rápida e eficiente. Nossa plataforma funciona de forma intuitiva, garantindo praticidade tanto para quem busca um serviço quanto para quem deseja oferecer.</p>
        </div>
        <div class="container-top-right">
            <img src="/img/usageInformationImg/usageInformation01.png" alt="">
        </div>
    </section>

    <hr style="margin-top: 50px; margin-bottom: 50px; height: 10px;">

    <section class="container-center-red content-center">
        <div class="box-red">
            <h3>Para Clientes</h3>
            <p><span>1️ Cadastro Simples –</span> Crie sua conta gratuitamente em poucos minutos, informando seus dados básicos.</p>
            <p><span>2 Busca Inteligente –</span> Digite o serviço ou produto que precisa, e nossa plataforma mostrará as lojas mais próximas com base na sua localização.</p>
            <p><span>3️ Lojas em Destaque – </span> Além das opções mais próximas, apresentamos as lojas premium, que garantem serviços de alta qualidade e atendimento diferenciado</p>
            <p><span>4️ Avaliações e Feedbacks –</span> Confira as avaliações de outros clientes antes de escolher onde levar seu carro, garantindo mais segurança na sua decisão.</p>
            <p><span>5️ Contato Direto –</span> Ao encontrar a loja ideal, você pode entrar em contato diretamente para agendar um serviço ou tirar dúvidas.</p>
        </div>

    </section>

    <hr style="margin-top: 50px; margin-bottom: 50px; height: 10px;">

    <section class="container-center-black content-center">
        <div class="box-black">
            <h3>Para Lojas e Prestadores de Serviço</h3>
            <p><span>1️ Cadastro da Loja –</span> Insira suas informações, descreva os serviços oferecidos e comece a receber clientes.</p>
            <p><span>2️ Maior Visibilidade –</span> Sua loja aparecerá para clientes que buscam exatamente os serviços que você oferece.</p>
            <p><span>3️ Destaque com Plano Premium –</span> Quer mais visibilidade? As lojas premium aparecem entre as 10 primeiras posições nas buscas, aumentando as chances de atrair novos clientes.</p>
            <p><span>4️ Interação com Clientes –</span> Receba avaliações, melhore sua reputação e fidelize clientes oferecendo um ótimo atendimento.</p>
            <p><span>5️ Crescimento Contínuo –</span> Com mais visibilidade e feedbacks positivos, sua loja pode crescer ainda mais dentro da plataforma.</p>
        </div>
    </section>

    <hr style="margin-top: 50px; height: 10px;">

    <section class="container-bottom">
        <div class="container-bottom-left">
            <h2>Serviços automotivos na palma da sua mão!</h2>
            <p>Simples, rápido e eficiente! Seja para encontrar o melhor serviço automotivo ou para destacar sua loja, a Auto Elite conecta você ao que há de melhor no mercado.</p>
        </div>
        <div class="container-bottom-right">
            <img src="/img/usageInformationImg/usageInformation02.png" alt="">
        </div>
    </section>
    <footer>
        <div class="footer-align">
            <p class="footer-text">Política de Cookies</p>
            <p class="footer-text">Política de Privacidade</p>
            <p class="footer-text">Termo de Uso</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-align">
            <p class="footer-text">CNPJ: 85.761.052/0001-33</p>
            <p class="footer-text">E-mail: AutoElite@auto.com.br</p>
            <p class="footer-text">Telefone: 4002-8922</p>
        </div>
        <div class="linha">.</div>
        <div class="footer-icon">
            <img src="/img/homeImg/icon/iconInstagram.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconFacebook.png" style="width: auto; height: 30px;">
            <img src="/img/homeImg/icon/iconLinkedin.png" style="width: auto; height: 30px;">
        </div>
    </footer>
</body>
</html>