<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style/verificEmail.css">
    <title>Document</title>
</head>
<body>
    <form>
        <h2>Verificação de E-mail</h2>

        <p>Um e-mail de Validação foi enviado para a sua caixa de mensagens, clique no link para validar seu e-mail</p>

        <label> <p>Aguarde 55s...</p> </label>

        <a href="">Sair</a>
        
    </form>
</body>
</html>